body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    color: #1b1b1b;
}

a {
    text-decoration: none;
}

h3 {
    font-family: 'Fjalla One';
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 0;
}

h4 {
    font-family: 'Fjalla One';
    font-size: 20px;
    margin: 15px 0 5px;
}

header {
    border-bottom: 1px solid #e2e2e2;
}

header,
footer {
    background: #fff;
    align-items: center;
    padding: 10px;
    font-family: 'Fjalla One';
}

header .logo,
footer .logo {
    flex-grow: 1;
    height: 22px;
}

header .logo span,
footer .logo span {
    background: url('/images/logo.png') no-repeat;
    display: inline-block;
    width: 58px;
    height: 24px;
}

footer {
    background: #1f1f1f;
    margin-top: 30px;
}

.flexbox-container {
    display: flex;
}

.item-slider {
    height: 700px;
    background-size: cover !important;
    background-position: center center !important;
    position: relative;
    font-family: 'Fjalla One';
}

.item-slider .caption {
    color: #fff;
    position: absolute;
    right: 0;
    padding: 20px;
    text-align: right;
    width: 320px;
    text-transform: uppercase;
}

.item-slider .caption h4 {
    font-weight: 300;
    margin: 0;
}

.item-slider .caption p {
    font-size: 70px;
    margin-top: 0;
}

.subscribe-panel .error {
    display: none;
    color: #f44336;
}

.subscribe-panel .success {
    display: none;
    color: #4caf50;
}

.subscribe-panel .error.show,
.subscribe-panel .success.show {
    display: block;
}

.subscribe-panel {
    text-align: center;
    width: 350px;
    margin: 0 auto;
}

.subscribe-panel h3 {
    font-family: 'Fjalla One';
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 0;
}

.subscribe-panel input {
    border-radius: 20px;
    border: 3px solid #ddd;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0;
}

.subscribe-panel input:focus {
    outline-width: 0;
}

.subscribe-panel small {
    font-size: 10px;
    line-height: 0;
}

.home-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

.home-blocks .block {
    flex-grow: 1;
    position: relative;
    height: 270px;
    overflow: hidden;
}

.home-blocks .block.lg {
    width: 50%;
}

.home-blocks .block.md {
    width: 30%;
}

.home-blocks .block.sm {
    width: 20%;
}

.home-blocks .block .image {
    height: 270px;
    background-size: cover !important;
    background-position: center center !important;
}

.home-blocks .block .title {
    background: #000;
    padding: 10px;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.home-blocks .block:hover .title {
    transform: translate(0, -39px);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.home-blocks .block .title a {
    color: #fff;
}

.home-blocks .block.lg {
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
}

.home-blocks .block.md {
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}

.home-blocks .block.sm {
    -webkit-animation-delay: 800ms;
    animation-delay: 800ms;
}

.home-blocks .block .veil {
    background: #000;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.home-blocks .block:hover .veil {
    opacity: 0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}