body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    color: #1b1b1b;
}

a {
    text-decoration: none;
}

h3 {
    font-family: 'Fjalla One';
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 0;
}

h4 {
    font-family: 'Fjalla One';
    font-size: 20px;
    margin: 15px 0 5px;
}

header {
    border-bottom: 1px solid #e2e2e2;
}

header,
footer {
    background: #fff;
    align-items: center;
    padding: 10px;
    font-family: 'Fjalla One';
}

header .logo,
footer .logo {
    flex-grow: 1;
    height: 22px;
}

header .logo span,
footer .logo span {
    background: url('/images/logo.png') no-repeat;
    display: inline-block;
    width: 58px;
    height: 24px;
}

footer {
    background: #1f1f1f;
    margin-top: 30px;
}

.flexbox-container {
    display: flex;
}

.item-slider {
    height: 700px;
    background-size: cover !important;
    background-position: center center !important;
    position: relative;
    font-family: 'Fjalla One';
}

.item-slider .caption {
    color: #fff;
    position: absolute;
    right: 0;
    padding: 20px;
    text-align: right;
    width: 320px;
    text-transform: uppercase;
}

.item-slider .caption h4 {
    font-weight: 300;
    margin: 0;
}

.item-slider .caption p {
    font-size: 70px;
    margin-top: 0;
}

.subscribe-panel .error {
    display: none;
    color: #f44336;
}

.subscribe-panel .success {
    display: none;
    color: #4caf50;
}

.subscribe-panel .error.show,
.subscribe-panel .success.show {
    display: block;
}