.home-poll {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.poll-container {
    display: flex;
}

.poll-container .poll-item {
    padding: 20px;
    flex-grow: 1;
}

.poll-container .poll-item img {
    width: 80%;
}

.poll-container .poll-item div {
    font-family: 'Fjalla One';
    font-size: 18px;
}

.fade-appear {
    opacity: 0.01;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    transition: opacity 0.5s ease-in;
}