.teams-components {
    min-height: 800px;
}

.teams-input {
    text-align: center;
    padding: 20px 0;
    background: #e6e6e6;
}

.teams-input input {
    font-family: 'Roboto';
    border-radius: 30px;
    border: 1px solid lightgray;
    color: #000;
    font-size: 20px;
    padding: 10px;
    font-weight: 300;
    text-align: center;
}

.teams-input input:focus {
    outline: none;
}

.teams-container span {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.teams-container .team-item {
    width: 25%;
    padding: 30px;
    box-sizing: border-box;
}

.teams-container .team-item img {
    width: 100%;
}